Coucou !
view index users
<div class="wrapper cards-home">
  <div class="container">
    <% @users.each do |user| %>
      <div class = "row">
        <div class = "col-xs-12 col-sm-4">
          <div class="row">
            <div class="col-xs-1">
              <img src="../../assets/images/event_logo.svg">
              <%= Booking.where(user_id: user.id).count %>
            </div>
            <div class="col-xs-3">
              <% if user.picture == NilClass %>
              <% user.picture = "gold_fish_logo.png"%>
              <% end %>
              <img src= <%= "#{user.picture}" %> alt="user" class="avatar-very-large">
            </div>
            <div class="col-xs-8">
              <%= user.first_name %> <%= user.last_name %>
              <br><%= user.address %>
            </div>
          </div>
        </div>
        <div class = "col-sm-4">
          <p>Next event 1</p>
        </div>
        <div class = "col-sm-4">
          <p>Next event 2</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
