<div class="container">
  <h1>coucou</h1>
  <%= simple_form_for @event, url: events_path, method: :post, as: 'event'  do |f| %>
    <%= f.input :title, placeholder: 'Title of your event' %>
    <%= f.input :description, placeholder: 'Description of your event' %>
    <%= f.input :location_title, placeholder: 'Location of your event' %>
    <%= f.input :time_start, placeholder: 'Start of event' %>
    <%= f.input :time_end, placeholder: 'End of event' %>
    <%= f.input :capacity, placeholder: 'Capacity of event' %>

    <%= f.input :address_number, placeholder: 'Number' %>
    <%= f.input :address_street, placeholder: 'Street' %>
    <%= f.input :address_postcode, placeholder: 'Postcode' %>
    <%= f.input :address_city, placeholder: 'City' %>

  <!--       t.string :picture


        t.string :address_number
        t.string :address_street
        t.string :address_postcode
        t.string :address_city
        t.string :address_contry
        t.string :distinguishing_feature
        t.string :wedding_list
        t.string :category
        t.string :keywords
        t.integer :price -->









    <%= f.input :category, as: :check_boxes,
      collection: [
        'Option one is this and that—be sure to include why it\'s great',
        'Option two can be something else and selecting it will deselect option one'],
        wrapper: :vertical_radio_and_checkboxes %>

    <%= f.button :submit %>
  <% end %>
</div>
